.navbar a{
    font-weight: 600 !important;          
    padding-right: 10px !important;
    /* ESTO ES PARA CAMBIAR LETRAS DEL NAV ETC */
}
.navbar a:hover{
    color: greenyellow !important;
    /* ESTO ES PARA CAMBIAR COLOR CUANDO MUEVO POR EL NAV */
}
